<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

    <script src="~/js/jquery-2.1.4.min.js"></script>

    <script src="~/js/particles.min.js"></script>

    <link href="~/fonts/fontawesome-webfont.eot" />
    <link href="~/fonts/fontawesome-webfont.ttf"/>
    <link href="~/fonts/fontawesome-webfont.woff"/>
    <link href="~/fonts/FontAwesome.otf" />
    <link href="~/fonts/glyphicons-halflings-regular.woff"/>
    <link href="~/fonts/glyphicons-halflings-regular.woff2"/>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
