<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Purple Pet | Register</title>
    <meta charset="utf-8">
    <link rel="icon" href="~/images/favicon.ico">



</head>
<body>
    <style>
        body {
            background-color: lightblue;
            /*Background-image: url("../images/bt21.png");*/
             /*backdrop-filter:blur(2px);*/
        }

        input[type=text], input[type=password] {
            width: 50%;
            padding: 10px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f4f4f4;
        }

        .input-container{
            width: 100%;

        }

        .cancelbtn{
            background-color: plum;
            color:white;
            padding: 12px 20px;
            width: 20%;
            cursor: pointer;
            margin: 8px 0px;
        }

        .signupbtn {
            background-color: plum;
            color: white;
            padding: 12px 20px;
            width: 20%;
            cursor: pointer;
            margin: 8px 0px;
        }

       
        
    </style>
   
    <div>
        @RenderBody()
    </div>
</body>
</html>
